/*Bsic reset*/
html{color:#000;background:#fff;}
body{font: 12px/1.5 Arial,宋体,sans-serif;}
body,h1,h2,h3,h4,h5,h6,p,dl,dt,dd,ul,ol,li,pre,
fieldset,legend,input,textarea,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
ul,li{list-style:none;}
fieldset,img{border:none;}
a{text-decretiom:none;color: #333333;text-decoration: none}
input:focus{outline: none;}
/*旧浏览器html新增的标签无法识别块状显示*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}

.syd-box{ width:1080px; margin:0 auto;}
.yyx-box{ width:1080px; margin:0 auto;}
.clear:after{clear:both; content:""; display:block;}
.left{ float:left;}
.right{ float:right;}