body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}



body{
    position: relative;
}
#header {
    position: relative;
    z-index: 5;
    height: 105px;
    background-color: #fff;
    overflow: hidden;
}

#logo {
    position: absolute;
    top: 22px;
    left: 1px;
    width: 109px;
    height: 62px;
    background: url(../images/logo.png) no-repeat 0 0;
}

#nav {
    position: absolute;
    top: 0;
    right: 361px;
    z-index: 4;
    height: 100%;
    background-color: #fff;

}
#nav li{
    width:83px;
    float: left;
    height: 105px;
    -webkit-transition: background-color 700ms;
    transition: background-color 700ms;
}
#nav li a.on {
    color: #fff;
}
#nav li a {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;

    line-height: 100px;
    text-align: center;
    color: #666;
    -webkit-transition: color 300ms;
    transition: color 200ms;
}

#nav li a span {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#nav li a span.En {
    position: absolute;
    font-size: 10PX;
    left: 0;
    top: 0;
    padding-top: 20%;
    z-index: 2;
    width: 100%;
    height: 100%;
}

#nav li a .bkg {
    top: 100%;
    z-index: 1;
    background-color: #c2985b;
    transition: top 200ms;
    transition: top 200ms;
}
#nav li a .bkg {
    top: 105px;
    z-index: 1;
    background-color: #c2985b;
    transition: top 200ms;
    transition: top 200ms;
}

#nav li.sheng a .bkg {
    top: 0;
}

#nav li.sheng a{
    color:#fff;
}


#jiTuan:hover{
    background:#c2985b;
    color:#fff;
}
#jiTuanW:hover{
    background:#c2985b;
    color:#fff;
}
#jiTuan, #jiTuanW {
    position: absolute;
    top: 30px;
    width: 100px;
    height: 24px;
    line-height:24px;
    font-size:13px;
    border: 1px solid #c2985b;
    right: 225px;
    text-align: center;
}
#jiTuanW{
    top: 62px;
}


#shop {
    width: 188px;
    text-align: center;
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 5;
    height: 80px;
    background: #fff;
}
#shop ul{
    float:left;
}
#shop ul li{
    float:left;
    margin-right:10px;
}
#shop ul li a{
    display: block;
}
#shop ul li a p {
    text-align: center;
}


#content {
    position: relative;

}
#subNav {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 40px;
    z-index:12;
    overflow:hidden;
}


#subNav .item {
    position: absolute;
    background: #4c4a4f;
    color: #fff;
    width:100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;
    top: -40px;
    height:40px;
    overflow: hidden;
    -webkit-transition: top 300ms;
    transition: top 300ms;
}

#subNav .about {
    position: absolute;
    left: 304px;
    padding: 0 67px;
}

#subNav .news{
    width:100%;
    position: absolute;
    left: 387px;
    padding: 0 67px;
}

#subNav .relation {
    left: 470px;
    padding: 0 80px;
}

#subNav .item a {
    float: left;
    padding: 0 16px;
    font-size: 12px;
    line-height: 40px;
    color: #d2ced5;
    -webkit-transition: color 300ms;
    transition: color 300ms;
}

#subNav .on{
    position: absolute;
    top:0!important;
}


#syd-banner{
    height: 495px;
    position: relative;
    border: none;
}

.syd-about{
    background-image: url(../images/AboutTop.jpg);
    background-color: White;
    height:100%;
}
.ScodeMenu{
    position: absolute;
    width: 410px;
    height: 34px;
    left: 50%;
    margin-left: -205px;
    z-index: 150;
    bottom: 0px;
}

.ScodeMenu ul li{
    display: block;
    width: 200px;
    color: #fff;
    text-align: center;
    height: 34px;
    background-color: #2b2b2b;
    float: left;
    margin-right: 5px;
    text-align:center;
    line-height:34px;
    font-family:"Microsoft YaHei";
    font-size:14px;
}
.ScodeMenu ul li:first-child{
    background-color: #c2985b;
}
.ScodeMenu ul li:hover{
    background-color: #c2985b;
}
.ScodeMenu ul li a{
    color:#fff;
}
#about-1 {
    color: #787878;
    line-height: 27px;
}
#about-1-1 {
    display: block;
    width: 100%;
    height: 180px;
    margin-top: 60px;
    background: url(../images/About_1.gif) no-repeat center center;
}

#about-1-2 {
    display: block;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background: url(../images/About_2.jpg) no-repeat center center;
}

#about-1 .text {
    margin-bottom: 10px;
    font-size:14px;
}
#about-1-3 {
    display: block;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    background: url(../images/About_3.jpg) no-repeat center center;
}
#about-2 {
    display: block;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

#about-2-1 {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 10px;
    background: url(../images/About_4.gif) no-repeat center center;
}

#about-2-2 {
    display: block;
    width: 660px;
    height: 154px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    left: 0px;
}

#about-2-2 .hovery {
    width: 240px;
}

#about-2-2 .hoveryContent {
    width: 380px;
    color: #787573;
    background-color: #fff;
    height: 154px;
    padding-left: 20px;
    padding-right: 20px;
}
#about-2-2 .hoveryContent p {
    line-height: 27px;
    margin-top: 10px;
    font-size:16px;
}


#year{
    padding-top: 20px;
    padding-bottom: 20px;
}
#year ul {
    width: 100%;
    margin: 0px auto;
}
#year ul li {
    display: inline;
}

#year ul li a {
    display: inline-block;
    width: 51px;
    height: 50px;
    font-size:14px;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: center;
    margin-right: 10px;
    background: url(../images/Year.png) no-repeat center center;
}
#year ul li a:hover{
    color:#c2985b;
    background: url(../images/Yearhover.png) no-repeat center center;
}

#about-3-1{
    display: block;
    width: 100%;
    height: 77px;
    margin-top: 30px;
    background: url(../images/About_5.gif) no-repeat center center;
}
#about-3-2 {
    height: 165px;
    margin-top: 30px;
    background: url(../images/About_13.jpg) no-repeat center center;
    margin-bottom: 30px;
}
#about-3-3 .wfItem {
    display: block;
    width: 340px;
    height: 212px;
    border-right: 1px solid #aeaeae;
    font-size: 12px;
    margin-right: 25px;
}
#about-3-3 .wfItem p {
    line-height: 30px;
}
#about-3-3 .wfItem p span {
    font-weight: bolder;
}

#about-4 {
    display: block;
    width: 100%;
    height: 467px;
    background: no-repeat center 0;
    background-color: #f5f5f5;
    margin-top: 40px;
}

#about-4-1 {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 30px;
    background: url(../images/About_6.gif) no-repeat center center;
}

#about-4-2 {
    background-image: url(../images/About_12.jpg);
    height: 346px;
    width: 100%;
}

#about-5 {
    display: block;
    width: 100%;
    height: 246px;
    background-color: #f5f5f5;
    position:relative;
}
.picbox {
    padding-top: 30px;
    width: 980px;
    height: 148px;
    overflow: hidden;
    position: relative;
    margin:0 auto;
}
.clear{
    clear: both;
}
.piclist {
    height: 115px;
    position: absolute;
    left: 0px;
    top: 26px;
}

.piclist li {
    background: #eee;
    margin-right: 22px;
    padding: 5px;
    float: left;
}
.og_prev, .og_next {
    width: 36px;
    height: 36px;
    background: url(../images/left.png) no-repeat;
    position: absolute;
    top: 90px;
    z-index: 99;
    cursor: pointer;
}

.box {
    width: 980px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    _height: 100%;
}

.og_next {
    background-position: 0 0;
    right: 6px;
    background: url(../images/right.png) no-repeat;
}

.og_prev, .og_next {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 90px;
    z-index: 99;
    cursor: pointer;
}

.og_prevs, .og_nexts{
    top: 70px;
}

#about-6-1 {
    display: block;
    width: 100%;
    height: 160px;
    background: url(../images/About_7.gif) no-repeat center center;
}

.picboxs{
    padding-top:0;
}
.piclists{
    top:0;
}


#about-6-2 ul li {
    font-size: 13px;
    width: 300px;
    height: 30px;
    background: url(../images/yuan.png) no-repeat left center;
    padding-left: 20px;
    text-align: left;
    float: left;
    line-height: 33px;
    margin-right: 1px;
}

#about-6-2 ul {
    padding-left: 80px;
    margin-top: 20px;
}

#about-7-1 {
    display: block;
    width: 100%;
    height: 85px;
    margin-top: 30px;
    background: url(../images/About_8.gif) no-repeat center center;
}

#about-7-2 .BGItem {
    display: block;
    width: 260px;
    height: 350px;
    background-color: #f5f5f5;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}


#about-7-2 .BGItem p {
    line-height: 650px;
    text-align: center;
    color: #2b2b2b;
}

#about-8-1 {
    display: block;
    width: 100%;
    height: 131px;
    margin-top: 30px;
    background: url(../images/About_9.gif) no-repeat center center;
}

#about-8 div p {
    text-align: center;
    font-size:14px;
    color: #787573;
}

#about-8-2 {
    margin-top: 30px;
    height: auto;
}


#about-8-2 ul li {
    float: left;
}

#about-9-1 {
    display: block;
    width: 100%;
    height: 131px;
    margin-top: 30px;
    background: url(../images/About_10.gif) no-repeat center center;
}

#about-9-2 .zheren {
    width: 519px;
    text-align: right;
}

#container {
    margin-left: 69px;
    height: 308px;
    width: 450px;
    overflow: hidden;
}

#sliderContainer {
    position: relative;
    width: 450px;

    height:308px;
}
#prev {
    position:absolute;
    left: 30px;
    background-image: url(../images/arrow-left.png);
    background-position: 13px center;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    z-index:99999;
}

.arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #fff;
    margin: auto 0;
    cursor: pointer;
    z-index: 100;
    background-size: 10px;
    background-repeat: no-repeat;
    /*pointer-events: none;*/
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

#sliderContainer:hover #prev{
    opacity:1;
    left:0px;
}
#sliderContainer:hover #next{
    opacity:1;
    right:0px;
}

#slider {
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    height:308px;
}

.slide {
    position: absolute;
    z-index: 0;
    transition: 1s;
    opacity: 0;
    /*pointer-events: none;*/
    height:308px;
}

.slide.active {
    position: relative;
    z-index: 1;
    opacity: 1;
    /*pointer-events: auto;*/
}

.slideCopy {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width:451px;
    height:26px;
    line-height:26px;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0 !important;
    z-index:200;
}
.slideCopy p {
    font-size: 14px;
    text-align: center;
    color: #fff;
}
#container a {
    color: #fff;
    text-decoration: none;
}

#about-9-2 .zheren img {
    margin-bottom: 30px;
}

#slider img {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    z-index:1;
}

#next {
    right: 20px;
    background-image: url(../images/arrow-right.png);
    background-position: 16px center;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
}

#about-9-2 .zherenright {
    padding-left: 50px;
    color: #787878;
}

#Zrtext {
    height: 280px;
}

#about-9-2 .zherenright p {
    line-height: 45px;
    padding-left: 10px;
}

#about-9-2 .zherenright p {
    line-height: 45px;
    padding-left: 10px;
}

.font16 {
    font-size: 16px;
    font-weight: bolder;
}

#about-9-2 .zherenright p.zheren2 {
    line-height: 30px;
    width: 468px;
}
